.fileList {
  @apply flex flex-col text-gray-600 font-mono;
}

.fileListHeader {
  @apply flex flex-row text-lg font-semibold tracking-widest text-gray-800
}

.fileListCell {
  @apply flex px-2 py-2;
  flex: 1;
}

.fileListIcon {
  @apply mr-1;
}

.fileListCellParent {
  @apply px-2 py-2;
}

.fileListSizeCell {
  @apply w-1/4 px-2 py-2;
  max-width: 100px;
}

.fileListLastmodCell{
  @apply w-1/3 px-2 py-2;
  max-width: 500px;
}

.fileListItem {
  @apply flex flex-row text-sm tracking-widest 
}

.searchFileInput {
  @apply w-full px-2 py-2 mr-2 text-sm text-gray-600 border border-gray-300 rounded-md
}

.pathInput {
  @apply flex-1 px-2 py-2 text-sm text-gray-600 border border-gray-300 rounded-md
}

.buttonDefault {
  @apply mr-2 px-2 py-1.5 bg-gray-200 rounded
}

.buttonPrimary {
  @apply ml-2 px-4 py-1.5 bg-blue-500 text-white rounded
}

.entryLink {
  @apply text-blue-500 hover:text-blue-600 cursor-pointer
}

.footer{
  @apply p-4 flex flex-row justify-between items-center text-sm text-gray-600
}

.copyRight{
  @apply text-gray-600 text-sm
}

.projectLink{
  @apply text-blue-500 hover:text-blue-600 underline cursor-pointer
}